<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Reset Password</title>
  <style>
    body {
      background-color: #dddddd;
      width: 800px;
      margin: 20px auto
    }

    th,td {
      border-bottom: 2px solid #fffb00;
      text-align: center;
    }
    .td-nav{
      background-color: #363636;
      color: #fffb00;
    }
    .td-footer{
      background-color: #363636;
      color: #fffb00;
      height: 50px;
      font-size: large;
      font-weight: bold;
    }
  </style>
</head>

<body>

  <table>
    <tr class="td-nav">
      <th>
        <img src='https://i.postimg.cc/Ghm762Pg/logo.png' width="150px" height="150px" alt='logo' />
      </th>
      <th>
        <h1>Handyman</h1>
      </th>
    </tr>
    <tr>
      <td colspan="2">
        <h2> Handyman for house repairs and maintenances</h2>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <h3>Hello {{user}}, Use link below to Reset your Password. <br> Don't forget password again :)</h3>
        <p> {{adsurl}} </p>
        <p>With Handyman your home is safe </p>
        <p>Thanks,<br />Handyman Company :) </p>
      </td>
    </tr>
    <tr>
      <td colspan="2" class="td-footer">
        www.handyman.com
      </td>
    </tr>
  </table>
</body>

</html>